<?xml version="1.0"?>
<!-- 
/**
 * @category   Netresearch_Productvisibility
 * @package    Netresearch_Productvisibility
 * @author     Thomas Kappel <thomas.kappel@netresearch.de>
 * @copyright  2011 Netresearch GmbH & Co.KG <http://www.netresearch.de/>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 **/
-->

<config>
    <modules>
        <Netresearch_Productvisibility>
            <version>0.1.0</version>
        </Netresearch_Productvisibility>
    </modules>
    <global>
        <blocks>
            <productvisibility>
                <class>Netresearch_Productvisibility_Block</class>
            </productvisibility>
        </blocks>
        <helpers>
            <productvisibility>
                <class>Netresearch_Productvisibility_Helper</class>
            </productvisibility>
        </helpers>
        <models>
            <productvisibility>
                <class>Netresearch_Productvisibility_Model</class>
            </productvisibility>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <productvisibility>
                    <file>netresearch/productvisibility.xml</file>
                </productvisibility>
            </updates>
        </layout>
        <translate>
            <modules>
                <Netresearch_Productvisibility>
                    <files>
                        <default>Netresearch_Productvisibility.csv</default>
                    </files>
                </Netresearch_Productvisibility>
            </modules>
        </translate>
        <events>
            <netresearch_product_visibility_checkpoints_load>
                <observers>
                    <productvisibility>
                        <type>singleton</type>
                        <class>productvisibility/observer</class>
                        <method>addConfigurableCheckpoints</method>
                    </productvisibility>
                </observers>
            </netresearch_product_visibility_checkpoints_load>
        </events>
    </adminhtml>
</config>
