table.product_visibility_checkpoints tr {
    padding-bottom: 3px;
}

table.product_visibility_checkpoints tr th {
    padding-right:  10px;
    text-align:     right;
}

table.product_visibility_checkpoints tr td.visibility_on {
    background:     url(../images/success_msg_icon.gif) no-repeat;
    color:          transparent;
    width:          20px;
    height:         20px;
}

table.product_visibility_checkpoints tr td.visibility_off {
    background:     url(../images/error_msg_icon.gif) no-repeat;
    color:          transparent;
    width:          20px;
    height:         20px;
}

table.product_visibility_checkpoints tr td.visibility_unknown {
    background:     url(../images/warning_msg_icon.gif) no-repeat;
    color:          transparent;
    width:          20px;
    height:         20px;
}

table.product_visibility_checkpoints tr td.howto {
    padding-left:   15px;
    font-style:     italic;
}

table.product_visibility_checkpoints tr td ul {
    list-style:     disc none;
    margin-left:    10px;
    padding-left:   5px;
}

table.product_visibility_checkpoints tr td ul li ul {
    list-style:     circle none;
    margin-left:    10px;
    padding-left:   5px;
}

table.product_visibility_checkpoints tr td.details {
    color:          #666;
    padding-left:   20px;
    font-style:     italic;
}