<?xml version="1.0"?>
<!--
/**
 * @category   Quafzi_Productvisibility
 * @package    Quafzi_Productvisibility
 * @author     Thomas Birke <tbirke@netextreme.de>
 * @copyright  2011 Netresearch GmbH & Co.KG <http://www.netresearch.de/>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 **/
-->

<config>
    <modules>
        <Quafzi_Productvisibility>
            <version>1.0.0</version>
        </Quafzi_Productvisibility>
    </modules>
    <global>
        <blocks>
            <productvisibility>
                <class>Quafzi_Productvisibility_Block</class>
            </productvisibility>
        </blocks>
        <helpers>
            <productvisibility>
                <class>Quafzi_Productvisibility_Helper</class>
            </productvisibility>
        </helpers>
        <models>
            <productvisibility>
                <class>Quafzi_Productvisibility_Model</class>
            </productvisibility>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <productvisibility>
                    <file>quafzi/productvisibility.xml</file>
                </productvisibility>
            </updates>
        </layout>
        <translate>
            <modules>
                <Quafzi_Productvisibility>
                    <files>
                        <default>Quafzi_Productvisibility.csv</default>
                    </files>
                </Quafzi_Productvisibility>
            </modules>
        </translate>
        <events>
            <quafzi_product_visibility_checkpoints_load>
                <observers>
                    <productvisibility>
                        <type>singleton</type>
                        <class>productvisibility/observer</class>
                        <method>addConfigurableCheckpoints</method>
                    </productvisibility>
                </observers>
            </quafzi_product_visibility_checkpoints_load>
        </events>
    </adminhtml>
</config>
